// fontawesome
$fa-font-path:        "vendor/forkawesome/fonts";

// bootstrap
$dark:                #d70a53;

@import 'vendor/bootstrap/bootstrap';
@import 'vendor/forkawesome/scss/fork-awesome';

body {
  background-color: $gray-100;
}

#main {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $white;
  img {
    max-width: 100%;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $gray-100;
}
